---
import Navbar from '../components/Navbar.astro';
import Profile from '../components/Profile.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vikram Nagwal's Personal Website">
	<div>
		<Navbar />
		<Profile />
	</div>
</Layout>
