<section class="mt-6 text-white/80">
  <h1 class="text-lg text-orange-500 font-semibold">About Me</h1>
  <div>
    <p class="text-lg">Vikram Nagwal</p>
    <div>
      <p>Himachal Pradesh, India</p>
      <p>English, Hindi</p>
      <div class="mt-2">
        <p>Quick Learner, Critical Thinking, Team Work, OpenSource Contributor</p>
        <p>Email: <span class="">VikramNagwal@gmail.com</span></p>
        <p>X: <span>Vikram09542</span></p>
      </div>
    </div>
  </div>
</section>
